body {
  font-size: 16px;
  font-family: "GilroyLight";
  background: #f8f8f8; }

* {
  color: #1e1b22; }

h1 {
  font-family: "GilroyBold"; }

p {
  font-family: "GilroyLight";
  font-size: 18px; }

a {
  transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }

a:hover {
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  p {
    font-size: 12px; } }
.cool_border {
  display: block;
  width: 100vw;
  height: 100vh;
  border: 10px solid white;
  background: none !important;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: border-color 0.7s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .cool_border .menu {
    position: absolute;
    bottom: 3px;
    left: 0px;
    font-size: 0;
    pointer-events: all; }
    .cool_border .menu span {
      padding: 5px 10px;
      background: #e0ede8;
      font-size: 14px;
      color: #1e1b22;
      cursor: pointer;
      transition: 0.7s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .cool_border .menu span:first-child {
      background-color: #e0ede8; }
    .cool_border .menu span:nth-child(2) {
      background-color: #fa705c; }
    .cool_border .menu span:nth-child(3) {
      background-color: #a755ef; }
    .cool_border .menu span:nth-child(4) {
      background-color: #49d6bc; }

.home {
  height: 100vh;
  width: 100%;
  color: white;
  border-color: white;
  position: relative;
  font-size: 0px; }
  .home .left {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 100%;
    padding: 30px;
    border-right: 10px solid white; }
    .home .left h1 {
      font-family: "GilroyBold";
      text-align: right;
      font-size: 72px; }
  .home .right {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 55%;
    padding: 30px;
    background: #e0ece8; }
    .home .right .logo {
      width: 800px;
      max-width: 80%;
      height: auto;
      display: block;
      margin: 100px 0px 25px; }
  @media only screen and (max-width: 768px) {
    .home {
      background: #e0ece8; }
      .home .left {
        width: 100%;
        height: auto;
        display: block;
        background: #f8f8f8; }
        .home .left h1 {
          text-align: left;
          font-size: 42px; }
      .home .right {
        width: 100%;
        height: auto;
        display: block;
        text-align: right; }
        .home .right .logo {
          display: block;
          margin: 25px 0 25px auto; }
        .home .right h1 {
          font-size: 24px; } }

.about {
  height: 100vh;
  width: 100%;
  padding: 30px;
  overflow: hidden;
  border-color: #fa715d; }
  .about .title {
    margin-top: 0;
    float: right; }
  .about p {
    width: 800px;
    max-width: 100%; }
  .about .p_box {
    background: #fa715d;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 5px;
    margin: 5px 0;
    position: relative; }
    .about .p_box p {
      margin: 0;
      font-family: "GilroyBold"; }
  .about .p_box:last-of-type {
    margin-bottom: 20px; }
  .about .p_box:after {
    content: "";
    background: #fa715d;
    width: 58px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 48px;
    border-right: 10px solid #f8f8f8; }
  .about .p_box:first-of-type:after {
    border: none;
    width: 48px;
    right: -10px; }
  .about .p_box:nth-of-type(2):after {
    right: 38px;
    z-index: 2; }
  .about .p_box:nth-of-type(3):after {
    right: 96px;
    z-index: 3; }
  .about .p_box:nth-of-type(4):after {
    right: 154px;
    z-index: 4; }
  .about .p_box:nth-of-type(5):after {
    right: 212px;
    z-index: 5; }
  .about .p_box:nth-of-type(6):after {
    right: 270px;
    z-index: 6; }
  @media only screen and (max-width: 768px) {
    .about {
      padding-bottom: 100px; }
      .about .title {
        float: none; }
      .about .p_box {
        padding: 5px; }
        .about .p_box p {
          font-family: "GilroyLight"; }
      .about .p_box:after {
        display: none; } }

.portfolio {
  height: 100vh;
  position: relative;
  width: 100%;
  font-size: 0; }
  .portfolio .portfolio_item {
    height: 100vh;
    position: absolute;
    width: 100%;
    font-size: 0; }
    .portfolio .portfolio_item .text {
      width: 45%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      padding: 30px;
      transform: translateX(-100%);
      opacity: 0;
      transition: 0.7s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .portfolio .portfolio_item .images {
      width: 55%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      padding: 30px;
      transform: translateX(100%);
      opacity: 0;
      transition: 0.7s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .portfolio .portfolio_item .images img {
        border: 10px solid white;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0px 0px 24px #b7b7b77a; }
      .portfolio .portfolio_item .images img:first-child {
        width: 70%;
        float: right; }
      .portfolio .portfolio_item .images img:nth-child(2) {
        width: 55%;
        transform: translateY(-20%); }
      .portfolio .portfolio_item .images img:nth-child(3) {
        width: 30%;
        float: right;
        transform: translateY(-30%) translateX(-20px); }
  .portfolio .active_item {
    z-index: 3; }
    .portfolio .active_item .text {
      transform: none;
      opacity: 1; }
    .portfolio .active_item .images {
      transform: none;
      opacity: 1; }
  .portfolio .jeany {
    border-color: #a856ef; }
    .portfolio .jeany .text a {
      color: #a856ef; }
      .portfolio .jeany .text a:hover {
        color: #530695; }
  .portfolio .sugar {
    border-color: #ff6dbe; }
    .portfolio .sugar .text a {
      color: #ff6dbe; }
      .portfolio .sugar .text a:hover {
        color: #d00c79; }
  .portfolio .freshrent {
    border-color: #4ab6ea; }
    .portfolio .freshrent .text a {
      color: #4ab6ea; }
      .portfolio .freshrent .text a:hover {
        color: #045e8a; }
  @media only screen and (max-width: 768px) {
    .portfolio {
      height: auto; }
      .portfolio .portfolio_item {
        position: relative;
        padding: 20px 0; }
        .portfolio .portfolio_item .text {
          width: 100%;
          height: auto;
          display: block;
          padding: 0 20px;
          transform: none;
          opacity: 1; }
          .portfolio .portfolio_item .text h1 {
            margin-top: 0; }
        .portfolio .portfolio_item .images {
          width: 100%;
          height: auto;
          transform: none;
          opacity: 1;
          display: block; } }

.contact {
  height: 100vh;
  position: relative;
  width: 100%;
  font-size: 0;
  border-color: #4bd6bc; }
  .contact .text {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    background: #4bd6bc;
    text-align: right; }
    .contact .text h1 {
      font-size: 72px; }
  .contact .form {
    width: 55%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    font-size: initial; }
    .contact .form form {
      width: 100%;
      padding-top: 100px; }
      .contact .form form input,
      .contact .form form textarea {
        position: relative;
        display: block;
        width: 100% !important;
        border: none;
        border-bottom: 3px solid #4bd6bc;
        background: none;
        height: 32px;
        line-height: 30px;
        min-height: 32px !important;
        margin: 20px 0;
        transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
        .contact .form form input::-webkit-input-placeholder,
        .contact .form form textarea::-webkit-input-placeholder {
          color: #1e1b22; }
        .contact .form form input::-moz-placeholder,
        .contact .form form textarea::-moz-placeholder {
          color: #1e1b22; }
        .contact .form form input:-ms-input-placeholder,
        .contact .form form textarea:-ms-input-placeholder {
          color: #1e1b22; }
        .contact .form form input:-moz-placeholder,
        .contact .form form textarea:-moz-placeholder {
          color: #1e1b22; }
        .contact .form form input:focus,
        .contact .form form textarea:focus {
          outline: none;
          border-bottom: 3px solid #1e1b22; }
      .contact .form form #submit-btn {
        background: #4bd6bc;
        display: inline-block;
        margin-top: 15px;
        padding: 7px 20px;
        float: right;
        cursor: pointer;
        transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
        .contact .form form #submit-btn:hover {
          background: #1e1b22;
          color: #4bd6bc; }
  @media only screen and (max-width: 768px) {
    .contact .text {
      width: 100%;
      display: block;
      height: auto; }
      .contact .text h1 {
        font-size: 42px;
        text-align: left; }
    .contact .form {
      width: 100%;
      display: block;
      height: auto; }
      .contact .form form {
        padding-top: 0; } }

.blinker {
  animation-name: blinker;
  animation-duration: 2.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes blinker {
  0% {
    opacity: 1; }
  40% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: DIN;
  src: url(../fonts/DINPro.otf); }
@font-face {
  font-family: ManaSpace;
  src: url(../fonts/manaspc.ttf); }
@font-face {
  font-family: GilroyBold;
  src: url(../fonts/gilroy-extrabold-webfont.woff); }
@font-face {
  font-family: GilroyLight;
  src: url(../fonts/gilroy-light-webfont.woff); }

/*# sourceMappingURL=styles.css.map */
