* {
	font-family: lato;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 2px 0px;
}
a:hover {
	text-decoration: none;
}
body {
	padding-top: 100vh;
}
#menu {
	background: rgba(0, 0, 0, .6);
	width: 100%;
	min-height: 60px;
	text-align: center;
	font-family: lato;
	font-weight: 400;
	position: fixed;
	top: 0;
	z-index: 200;
}
.mitem {
	position: relative;
	line-height: 60px;
	padding: 0px 10px;
	color: lightgrey;
}
.mitem:hover {
	transition: .5s ease;
	text-decoration: none;
	cursor: pointer;
	color: white;
}
#logo {
	height: 40px;
}
.video-tagline {
	position: absolute;
	z-index: -99;
	min-width: 100vw;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	background: black;
	overflow: hidden;
}
#tagline {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100vh;
	opacity: .8;
	background-image: url(/images/taglinetext.png);
	background-position: center;
	background-size: cover;
	z-index: 0;
	text-align: center;
}
.fa-angle-down {
	color: white !important;
	background: none !important;
	font-size: 40px !important;
	position: absolute;
	bottom: 30px;
}
.fa-angle-down:hover {
	color: grey !important;
}
#upcoming {
	width: 100%;
	min-height: calc(40vh - 63px);
	margin-top: 3px;
	background: black;
	padding-top: 20px;
	text-align: center;
	color: white;
}
.event {
	padding: 30px 0px;
	text-align: center;
}
.event-date,
.event-info,
.event-btn {
	display: inline-block;
	margin-left: 50px;
}
.event-date,
.event-info {
	text-align: left;
}
.event-btn {
	width: 200px;
	height: 40px;
	border: 1px solid grey;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
}
.buybtn,
.buybtn:hover {
	color: white;
	text-decoration: none !important;
	font-size: 12px;
	font-weight: 100;
}
.event-btn:hover {
	color: white;
	cursor: pointer;
	background: rgba(50, 50, 50, .5);
	transition: 1s ease;
}
h30,
h31 {
	display: block;
	color: white;
	font-weight: 400;
}
h30 {
	font-size: 16px;
	padding-bottom: 5px;
}
h31 {
	font-size: 12px;
	color: grey;
}
#scroll-down-text {
	padding-top: 20px;
	background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/images/aboutBack.jpg) no-repeat fixed top;
	background-size: cover;
	text-align: center;
	margin-top: 3px;
	overflow: hidden;
}
#introFull {
	overflow: hidden;
}
h1 {
	overflow: hidden;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: -10px;
	margin-top: 0px;
}
h3 {
	overflow: hidden;
	padding-bottom: 60px;
	font-family: Nunito;
	font-weight: 400;
	font-size: 14px;
}
.clip-text2 {
	font-size: 40px;
	padding: 20px .75em;
}
.clip-text2:after {
	background-color: rgba(0, 0, 0, .8);
}
#contact {
	text-align: center;
	background: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 3px 0px;
}
.contacthalf {
	width: 300px;
	padding-bottom: 30px;
	display: inline-block;
	vertical-align: top;
}
.fa {
	margin: 0px 10px;
	background: white;
	color: black;
	font-size: 20px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.fa:hover {
	transition: 1s ease;
	cursor: pointer;
	background: grey;
}
.arrow-up {
	margin: auto;
	width: 0;
	height: 0;
	margin-top: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}
.msg-input,
.msg-send,
.email-send,
.email-input {
	font-family: DIN;
	width: 400px;
	max-width: 90%;
	margin: 0px auto;
	margin-bottom: 3px;
	display: block;
	background-color: white;
	color: black;
	border: none;
}
.msg-input:focus,
.email-input:focus {
	outline: none;
}
textarea {
	height: 100px;
}
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: grey;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: grey;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: grey;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: grey;
}
#footer {
	position: relative;
	background-color: black;
	color: white;
	height: 100px;
}
.footer-email {
	position: absolute;
	top: 5px;
	left: 5px;
	display: inline;
	padding: 0px 5px;
}
.footer-legal {
	position: absolute;
	display: inline;
	bottom: 5px;
	left: 10px;
}
.footer-nav {
	border-left: 1px solid white;
	padding-left: 30px;
	position: absolute;
	top: 5px;
	left: 220px;
}
h5,
h6 {
	color: grey;
	font-size: 10px;
	margin: 3px 0px;
}
h6 {
	padding: 0px;
}
h6:hover {
	color: white;
}
b {
	color: white;
	margin-bottom: 10px;
}
.email-input {
	font-size: 10px;
	display: inline;
	height: 20px;
	width: 100px;
	border: none;
	color: grey;
	background: rgba(255, 255, 255, .2);
	vertical-align: top;
	margin-bottom: 0px;
}
.email-send {
	border: 1px solid grey;
	background: black;
	color: grey;
	font-size: 15px;
	display: inline;
	height: 20px;
	width: 60px;
	line-height: 15px;
}
.small {
	display: block;
	font-size: 12px;
	text-align: center;
	margin: 5px;
	line-height: 23px;
	width: 23px;
	height: 23px;
}
.left-align {
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
	vertical-align: center;
}
h6 {
	padding-left: 10px;
	font-family: DIN;
}
h17 {
	font-size: 10px;
}
.aniUp {
	opacity: 0;
	position: relative;
	top: 30px;
}
.poster {
	display: none;
	background-size: cover !important;
	background-color: black;
	transition: .5s ease;
}
.poster:hover {
	cursor: pointer;
}
#work {
	color: white;
	text-align: center;
	background: black;
	position: relative;
	min-height: 55vw;
	padding-top: 20px;
	margin-top: 3px;
}
#posters {
	height: 50vw;
	width: 100%;
	position: absolute;
}
.poster-center {
	display: initial;
	width: 60vw;
	height: 30vw;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 5px 7px 7px grey;
	z-index: 3;
}
.poster-left {
	display: initial;
	width: 50vw;
	height: 25vw;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 45vw;
	left: 0px;
	box-shadow: 2px 2px 5px grey;
	z-index: 2;
}
.poster-right {
	display: initial;
	width: 50vw;
	height: 25vw;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 45vw;
	box-shadow: 2px 2px 5px grey;
	z-index: 2;
}
.scroll-left,
.scroll-right {
	display: inline-block;
	position: absolute;
	bottom: 6vw;
}
.scroll-left {
	left: 20px;
}
.scroll-right {
	right: 20px;
}
.fa-angle-left {
	padding-right: 3px;
}
.fa-angle-right {
	padding-left: 3px;
}
.fa-angle-right,
.fa-angle-left {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/*
==============================================
pulse
==============================================
*/

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.8);
	}
	50% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.8);
	}
}
