@font-face {
    font-family: DIN;
    src: url(../fonts/DINPro.otf);
}
@font-face {
    font-family: ManaSpace;
    src: url(../fonts/manaspc.ttf);
}
@font-face {
    font-family: GilroyBold;
    src: url(../fonts/gilroy-extrabold-webfont.woff);
}
@font-face {
    font-family: GilroyLight;
    src: url(../fonts/gilroy-light-webfont.woff);
}