$pageSpeed: .7s cubic-bezier(0.22, 0.61, 0.36, 1);
$aniSpeed: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
$blue: #5CCEFA;
$darkBlue: #418FAE;
$pink: #F6A8B7;
$darkPink: #A9737E;
$textColor: #1e1b22;
$olive: #9ee7cf;
@mixin underline($color: $textColor) {
	background-image: linear-gradient($color, $color);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.3s;

	&:hover,
	&.hover {
		background-size: 100% 2px;
	}
}

body {
	font-size: 16px;
	font-family: "GilroyLight";
	background: #f8f8f8;
}

* {
	color: $textColor;
}

h1, h2, h3 {
	font-family: "GilroyBold";
}

p {
	font-family: "GilroyLight";
	font-size: 18px;
	font-weight: bold;
}

a {
	transition: $aniSpeed;
}

a:hover {
	text-decoration: none;
}


.menu {
	display: block;
	width: 100vw;
	background: none;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
	transition: border-color $pageSpeed;
	.menu_items {
		display: inline-flex;
		border-right:.25em solid $pink;
		border-bottom:.25em solid $pink;
		.menu_item {
			display: block;
			padding: 0.25em 1em;
			background: white;
			&:first-child {
				background-color: $blue;
			}
			&:nth-child(2) {
				background-color: $pink;
			}
			&:nth-child(3) {
				background-color: white;
			}
			&:nth-child(4) {
				background-color: $pink;
			}
			a {
				font-size: 1em;
				color: $textColor;
				cursor: pointer;
				font-weight: bold;
				transition: .3s ease;
				@include underline($textColor);
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.home {
	min-height: 100vh;
	width: 100%;
	color: white;
	border-color: white;
	position: relative;
	display: flex;
	.left {
		width: 50%;
		padding: 2em;
		border-right: 10px solid white;
		h1 {
			font-family: "GilroyBold";
			text-align: right;
			font-size: 4.5rem;
			.name {
				display: block;
				font-size: 150%;
				.word {
					display: inline-block;
				}
				.letter {
					display: inline-block;
					line-height: 1em;
					transform: translateY(-100px);
					opacity: 0;
				}
			}
		}
	}
	.right {
		width: 50%;
		padding: 2em;
		background: $pink;
		h2 {
			font-family: "GilroyBold";
			font-size: 4.5rem;
		}
	}
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		min-height: unset;
		.left {
			width:100%;
			h1 {
				text-align: left;
			}
		}
		.right {
			width:100%;
			h2 {
				text-align: right;
			}
		}
	}
}

.about {
	width: 100%;
	padding: 1em;
	overflow: hidden;
	border: 1em solid $olive;
	.title {
		margin-top: 0;
		float: right;
		.letter {
			display: inline-block;
			line-height: 1em;
			transform: translateY(-100px);
			opacity: 0;
		}
	}
	p {
		max-width: 800px;
		width: 100%;
		font-weight: bolder;
	}
	.p_box {
		background: $olive;
		display: inline-block;
		width: 100%;
		padding: 5px 15px 5px 15px;
		margin: 5px 0;
		position: relative;
		p {
			margin: 0;
			font-family: "GilroyBold";
		}
		&:last-of-type {
			margin-bottom: 20px;
		}
		&:after {
			content: "";
			background: $olive;
			width: 48px;
			height: 100vh;
			position: absolute;
			top: 0;
			right: 0;
			border-right: 10px solid #f8f8f8;
		}
		&:first-of-type:after {
	    right: -20px;
		}
		&:nth-of-type(2):after {
			right: 28px;
			z-index: 2;
		}
		&:nth-of-type(3):after {
			right: 76px;
			z-index: 3;
		}
		&:nth-of-type(4):after {
			right: 124px;
			z-index: 4;
		}
		&:nth-of-type(5):after {
			right: 172px;
			z-index: 5;
		}
		&:nth-of-type(6):after {
			right: 220px;
			z-index: 6;
		}
		&:nth-of-type(7):after {
			right: 268px;
			z-index: 7;
		}
		&:nth-of-type(8):after {
			right: 316px;
			z-index: 7;
		}
	}
	@media only screen and (max-width: 768px) {
		.title {
			float: none;
		}
		.p_box {
			padding: 5px;
		}
		.p_box:after {
			display: none;
		}
	}
}

.portfolio {
	position: relative;
	width: 100%;
	.portfolio_item {
		height: auto;
		width: 100%;
		display: flex;
		.text {
			width: 50%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			padding: 2em;
			transition: $pageSpeed;
		}
		.images {
			width: 50%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			padding: 1em;
			transition: $pageSpeed;
			img {
				border: 10px solid white;
				display: inline-block;
				vertical-align: top;
				box-shadow: 0px 0px 24px #b7b7b77a;
				&:first-child {
					width: 70%;
					float: right;
				}
				&:nth-child(2) {
					width: 55%;
					transform: translateY(-20%);
				}
				&:nth-child(3) {
					width: 30%;
					float: right;
					transform: translateY(-30%) translateX(-20px);
				}
				&.isBig {
					position: fixed;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					left: 0;
					margin: auto;
					z-index: 100;
				}
			}
		}
		@media only screen and (max-width:768px) {
			flex-direction: column;
			.text {
				width:100%;
			}
			.images {
				width:100%;
			}
		}
	}
	.active_item {
		z-index: 3;
		.text {
			transform: none;
			opacity: 1;
		}
		.images {
			transform: none;
			opacity: 1;
		}
	}
	.ventura {
		border-color: #f06748;
		.text a {
			color: #f06748;
			&:hover {
				color: #f06748;
			}
		}
	}
	.mammoth {
		border-color: #498BA1;
		.text a {
			color: #498BA1;
			&:hover {
				color: #498BA1;
			}
		}
	}
	.vbn {
		border-color:#f7921e;
		.text a {
			color:#f7921e;
			&:hover {
				color:#f7921e;
			}
		}
	}
	.fairfield {
		border-color: #47145f;
		.text a {
			color: #47145f;
			&:hover {
				color: #47145f;
			}
		}
	}
	.freshrent {
		border-color: #4ab6ea;
		.text a {
			color: #4ab6ea;
			&:hover {
				color: #045e8a;
			}
		}
	}
	@media only screen and (max-width: 768px) {
		height: auto;
		.portfolio_item {
			position: relative;
			padding: 20px 10px;
			.text {
				width: 100%;
				height: auto;
				display: block;
				padding: 0 20px;
				transform: none;
				opacity: 1;
				h1 {
					margin-top: 0;
				}
			}
			.images {
				width: 100%;
				height: auto;
				transform: none;
				opacity: 1;
				display: block;
				padding:10px 15px;
				img {
					border-width:5px;
				}
			}
		}
	}
}

.contact {
	min-height: 100vh;
	position: relative;
	width: 100%;
	display: flex;
	.text {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		padding: 2em;
		background: $pink;
		text-align: right;
		h3 {
			font-size: 3em;
		}
	}
	.form {
		width: 55%;
		display: inline-block;
		vertical-align: top;
		padding: 2em;
		font-size: initial;
		form {
			width: 100%;
			padding-top: 100px;
			input,
			textarea {
				position: relative;
				display: block;
				width: 100% !important;
				border: none;
				border-bottom: 3px solid $blue;
				background: none;
				height: 32px;
				line-height: 30px;
				min-height: 32px !important;
				margin: 20px 0;
				transition: $aniSpeed;
				&::-webkit-input-placeholder {
					color: $textColor;
				}
				&::-moz-placeholder {
					color: $textColor;
				}
				&:-ms-input-placeholder {
					color: $textColor;
				}
				&:-moz-placeholder {
					color: $textColor;
				}
				&:focus {
					outline: none;
					border-bottom: 3px solid $textColor;
				}
			}
			textarea {
				height: 5em;
			}
			#submit-btn {
				background: $blue;
				display: inline-block;
				margin-top: 15px;
				padding: 7px 20px;
				float: right;
				cursor: pointer;
				transition: $aniSpeed;
				&:hover {
					background: $textColor;
					color: $blue;
				}
			}
		}
	}
	@media only screen and (max-width: 768px) {
		min-height: unset;
		flex-direction: column;
		.text {
			width:100%;
			h3 {
				font-size: 2em;
			}
		}
		.form {
			width:100%;
			form {
				padding-top: 1em;
			}
		}
	}
}
