body {
	font-size: 16px;
	font-family: "GilroyLight";
	background: #f8f8f8;
}

* {
	color: #1e1b22;
}

h1 {
	font-family: "GilroyBold";
}

p {
	font-family: "GilroyLight";
	font-size: 18px;
}

a {
	transition: .3s ease;
}

a:hover {
	text-decoration: none;
}
@media only screen and (max-width: 768px) { 
	p {
		font-size:12px;
	}
}
.cool_border {
	display: block;
	width: 100vw;
	height: 100vh;
	border: 10px solid white;
	background: none !important;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transition: border-color .9s ease;
	.menu {
		position: absolute;
		bottom: 3px;
		left: 0px;
		font-size: 0;
		pointer-events: all;
		span {
			padding: 5px 10px;
			background: #e0ede8;
			font-size: 14px;
			color: #1e1b22;
			cursor: pointer;
			transition:.9s ease;
		}
		span:first-child {
			background-color: #e0ede8;
		}
		span:nth-child(2) {
			background-color: #fa705c;
		}
		span:nth-child(3) {
			background-color: #a755ef;
		}
		span:nth-child(4) {
			background-color: #49d6bc;
		}
	}
}

.home {
	height: 100vh;
	width: 100%;
	color: white;
	border-color: white;
	position: relative;
	font-size: 0px;
	.left {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		height: 100%;
		padding: 30px;
		border-right: 10px solid white;
		h1 {
			font-family: "GilroyBold";
			text-align: right;
			font-size: 72px;
		}
	}
	.right {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: 55%;
		padding: 30px;
		background: #e0ece8;
		.logo {
			width: 800px;
			max-width: 80%;
			height: auto;
			display: block;
			margin: 100px 0px 25px;
		}
	}
	@media only screen and (max-width: 768px) {
		background: #e0ece8;
		.left {
			width:100%;
			height:auto;
			display:block;
			background:#f8f8f8;
			h1 {
				text-align:left;
				font-size:42px;
			}
		}
		.right {
			width:100%;
			height:auto;
			display:block;
			text-align:right;
			.logo {
				display:block;
				margin:25px 0 25px auto;
			}
			h1 {
				font-size:24px;
			}
		}
	}
}

.about {
	height: 100vh;
	width: 100%;
	padding: 30px;
	overflow: hidden;
	border-color: #fa715d;
	.title {
		margin-top: 0;
		float: right;
	}
	p {
		width: 800px;
		max-width: 100%;
	}
	.p_box {
		background: #fa715d;
		display: inline-block;
		width: 100%;
		padding: 10px 15px 10px 5px;
		margin: 5px 0;
		position: relative;
		p {
			margin: 0;
			font-family: "GilroyBold";
		}
	}
	.p_box:last-child {
		margin-bottom:20px;
	}
	.p_box:after {
		content: "";
		background: #fa715d;
		width: 58px;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 48px;
		border-right: 10px solid #f8f8f8;
	}
	.p_box:first-of-type:after {
		border: none;
		width: 48px;
		right: -10px;
	}
	.p_box:nth-of-type(2):after {
		right: 38px;
		z-index: 2;
	}
	.p_box:nth-of-type(3):after {
		right: 96px;
		z-index: 3;
	}
	.p_box:nth-of-type(4):after {
		right: 154px;
		z-index: 4;
	}
	.p_box:nth-of-type(5):after {
		right: 212px;
		z-index: 5;
	}
	.p_box:nth-of-type(6):after {
		right: 270px;
		z-index: 6;
	}
	@media only screen and (max-width: 768px) { 
		padding-bottom:100px;
		.title {
			float:none;
		}
		.p_box {
			padding:5px;
			p {
				font-family:"GilroyLight";
			}
		}
		.p_box:after {
			display:none;
		}
	}
}

.portfolio {
	height: 100vh;
	position: relative;
	width: 100%;
	font-size: 0;
	.portfolio_item {
		height: 100vh;
		position: absolute;
		width: 100%;
		font-size: 0;
		.text {
			width: 45%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			padding: 30px;
			transform:translateX(-100%);
			opacity:0;
			transition:.9s ease;
		}
		.images {
			width: 55%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			padding: 30px;
			transform:translateX(100%);
			opacity:0;
			transition:.9s ease;
			img {
				border: 10px solid white;
				display: inline-block;
				vertical-align: top;
				box-shadow: 0px 0px 24px #b7b7b77a
			}
			img:first-child {
				width: 70%;
				float: right;
			}
			img:nth-child(2) {
				width: 55%;
				transform: translateY(-20%);
			}
			img:nth-child(3) {
				width: 30%;
				float: right;
				transform: translateY(-30%) translateX(-20px);
			}
		}
	}
	.active_item {
		.text {
			transform:none;
			opacity:1;
		}
		.images {
			transform:none;
			opacity:1;
		}
	}
	.jeany {
		border-color: #a856ef;
		.text a {
			color: #a856ef;
			&:hover {
				color: #530695;
			}
		}
	}
	.sugar {
		border-color: #ff6dbe;
		.text a {
			color: #ff6dbe;
			&:hover {
				color: #d00c79;
			}
		}
	}
	.freshrent {
		border-color: #4ab6ea;
		.text a {
			color: #4ab6ea;
			&:hover {
				color: #045e8a;
			}
		}
	}
	@media only screen and (max-width: 768px) { 
		height:auto;
		.portfolio_item {
			position:relative;
			padding:20px 0;
			.text {
				width:100%;
				height:auto;
				display:block;
				padding:0 20px;
				transform:none;
				opacity:1;
				h1 {
					margin-top: 0;
				}
			}
			.images {
				width:100%;
				height:auto;
				transform:none;
				opacity:1;
				display:block;
			}
		}
	}
}

.contact {
	height: 100vh;
	position: relative;
	width: 100%;
	font-size: 0;
	border-color: #4bd6bc;
	.text {
		width: 45%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		padding: 30px;
		background: #4bd6bc;
		text-align: right;
		h1 {
			font-size: 72px;
		}
	}
	.form {
		width: 55%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		padding: 30px;
		font-size: initial;
		form {
			width: 100%;
			padding-top: 100px;
			input,
			textarea {
				position: relative;
				display: block;
				width: 100% !important;
				border: none;
				border-bottom: 3px solid #4bd6bc;
				background: none;
				height: 32px;
				line-height: 30px;
				min-height: 32px !important;
				margin: 20px 0;
				transition: .4s ease;
				&::-webkit-input-placeholder {
					color: #1e1b22;
				}
				&::-moz-placeholder {
					color: #1e1b22;
				}
				&:-ms-input-placeholder {
					color: #1e1b22;
				}
				&:-moz-placeholder {
					color: #1e1b22;
				}
				&:focus {
					outline: none;
					border-bottom: 3px solid #1e1b22;
				}
			}
			#submit-btn {
				background: #4bd6bc;
				display: inline-block;
				margin-top: 15px;
				padding: 7px 20px;
				float: right;
				cursor: pointer;
				transition: .5s ease;
				&:hover {
					background: #1e1b22;
					color: #4bd6bc;
				}
			}
		}
	}
	@media only screen and (max-width: 768px) { 
		.text {
			width:100%;
			display:block;
			height:auto;
			h1 {
				font-size:42px;
				text-align:left;
			}
		}
		.form {
			width:100%;
			display:block;
			height:auto;
			form {
				padding-top:0;
			}
		}
	}
}

.blinker {
	animation-name: blinker;
	animation-duration: 2.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}
	40% {
		opacity: .1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
