<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>Template</title>
		<link rel='stylesheet prefetch' target="_blank" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="./style.css">
	</head>

	<body>
		<header>
			<div class="container">
				<h1 class="logo">Logo Branding Space</h1>

				<div class="icons">
					<span class="icons__blue fa fa-search"></span>
					<span class="icons__blue fa fa-facebook"></span>
					<span class="icons__blue fa fa-instagram"></span>
				</div>
			</div>
		</header>

		<div class="menu">
			<div class="container">
				<a href="" class="menu__link">About</a>
				<a href="" class="menu__link">Get the facts</a>
				<a href="" class="menu__link">Get Involved</a>
				<a href="" class="menu__link">Show your support</a>
				<a href="" class="menu__link">Testimonials</a>
				<a href="" class="menu__link">News</a>
			</div>
		</div>

		<div class="intro">
			<div class="container">
				<div class="intro__right">
					<div class="slide">
						<img src="./images/billboard_img.png" alt="" class="slide__img">
						<div class="slide__text">
							<h1 class="slide__title">Strong statement about the importance of voting "NO".</h1>
							<div class="slide__button"><a href="">More</a></div>
						</div>
					</div>
				</div>

				<div class="intro__left">
					<div class="signup">
						<h1 class="signup__title">
							Sign Up For Updates!
						</h1>

						<p class="signup__text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et lolore.
						</p>

						<form action="" class="signup__form">
							<input name="email" type="email" placeholder="EMAIL" class="signup__input">
							<input name="zip" type="number" placeholder="ZIP CODE" class="signup__input">
							<input type="submit" value="Submit" class="signup__submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="boxes">
			<div class="container">
				<div class="infoBox">
					<h2 class="infoBox__title">Get The Facts</h2>

					<span class="infoBox__icon fa fa-medkit"></span>

					<p class="infoBox__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris </p>

					<div class="infoBox__button"><a href="">Learn More</a></div>
				</div>

				<div class="infoBox">
					<h2 class="infoBox__title">Get Involved</h2>

					<span class="infoBox__icon fa fa-comments-o"></span>

					<p class="infoBox__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris </p>

					<div class="infoBox__button"><a href="">Make a Difference</a></div>
				</div>

				<div class="infoBox">
					<h2 class="infoBox__title">Show Your Support</h2>

					<span class="infoBox__icon fa fa-file-text"></span>

					<p class="infoBox__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris.</p>

					<div class="infoBox__button"><a href="">Get Started</a></div>
				</div>
			</div>
		</div>

		<div class="main">
			<div class="container">
				<div class="main_right">

					<div class="testimonials">
						<h2 class="main__title">Testimonials</h2>

						<div class="testimonial">
							<p class="testimonial__text">Lorem ectetipsum dolor sit amet, consectetur adipi sicing ectetelit, sed do eiusmod tempor incididu nt ut labore et dolore ma gna aliqua quis nostrud exercitation.</p>

							<p class="testimonal__author">Tempor Incididu City, Hospital</p>

							<img src="./images/image_two.png" alt="" class="testimonial__image">
						</div>
					</div>
					<div class="updates">
						<h2 class="main__title">	
							Latest Updates
						</h2>

						<div class="newsBox">
							<img src="./images/image_three.png" alt="" class="newsBox__img">
							<h3 class="newsBox__title">Interesting News</h3>
							<p class="newsBox__date">October 22, 2017</p>
							<p class="newsBox__text">Lorem ipsum dolor sit a met, cons ectetur adipis. icing elit</p>
						</div>

						<div class="newsBox">
							<img src="./images/image_four.png" alt="" class="newsBox__img">
							<h3 class="newsBox__title">Informative News</h3>
							<p class="newsBox__date">October 22, 2017</p>
							<p class="newsBox__text">Lorem ipsum dolor sit a met, cons ectetur adipis. icing elit</p>
						</div>

						<div class="newsBox">
							<img src="./images/image_five.png" alt="" class="newsBox__img">
							<h3 class="newsBox__title">Eye-Opening Story from the News</h3>
							<p class="newsBox__date">October 22, 2017</p>
							<p class="newsBox__text">Lorem ipsum dolor sit a met, cons ectetur adipis. icing elit</p>
						</div>
					</div>
				</div>

				<div class="twitter">
					<h2 class="main__title">Latest From Twitter <span class="fa fa-twitter"></span></h2>

					<div class="twitter__feed">
						<div class="tp_recent_tweets">
							<ul>
								<li>
									<span>Ohhhh please don't make us choose <a href="http://twitter.com/Cubs" title="Follow Cubs" target="_blank">@Cubs</a> or <a href="http://twitter.com/whitesox" title="Follow whitesox" target="_blank">@whitesox</a> . You can't beat our hometown <a href="https://twitter.com/search?q=Chicago" title="Search #Chicago" target="_blank">#Chicago</a> <a href="https://twitter.com/search?q=CrosstownClassic" title="Search #CrosstownClassic" target="_blank">#CrosstownClassic</a>. <a href="https://t.co/iMMiVgYR9o" target="_blank">https://t.co/iMMiVgYR9o</a></span><a class="twitter_time" target="_blank" href="http://twitter.com/SafeFleet_TandT/statuses/889578120956841984">71 days ago</a>
								</li>
								<li>
									<span><a href="https://twitter.com/search?q=MondayMotivaton" title="Search #MondayMotivaton" target="_blank">#MondayMotivaton</a> <a href="https://twitter.com/search?q=GetItDone" title="Search #GetItDone" target="_blank">#GetItDone</a> <a href="https://t.co/RJT2vR1rFt" target="_blank">https://t.co/RJT2vR1rFt</a></span><a class="twitter_time" target="_blank" href="http://twitter.com/SafeFleet_TandT/statuses/889462645035859969">72 days ago</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<a href="" class="footer__link">Privacy Policy</a>
				<a href="" class="footer__link">Contact</a>

				<p class="footer__copyright">© 2017 Massachusetts Health & Hospital Association. All rights reserved.</p>
			</div>
		</footer>
	</body>