<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>.customToTop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	z-index: 10000000000;
	background: #0d0d0d;
	color: white;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	line-height: 52px;
	opacity: 0;
	transition: opacity .5s ease;
}

.customToTop.show {
	opacity: 1;
}

h1,
h2,
h3 {
	hyphens: none !important;
	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	line-break: normal;
}

.homepage #header-top .Index-page-content {
	padding: 0 !important;
}

.tweak-site-width-option-full-background .Index-page-content {
	max-width: 1900px;
}

.Footer .image-block-outer-wrapper {
	width: 70px;
	margin: auto;
	padding: 3px 0 15px;
}

.Mobile-bar-branding {
	padding: 0 !important;
}

.Mobile-bar-branding-logo {
	height: 35px;
	width: auto;
}

.ancillary-mobile-bar-menu-icon-position-top-right .Mobile-bar--top {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

@media only screen and (min-width: 768px) {
	.homepage #header-top .Index-page-content .sqs-video-overlay {
		visibility: visible !important;
		transition: opacity .5s ease;
	}
	.homepage #header-top .Index-page-content .sqs-video-opaque {
		opacity: 0 !important;
	}
	.homepage #header-top .Index-page-content .sqs-video-overlay img {
		opacity: 1 !important;
	}
	.homepage #header-top .Index-page-content .video-block {
		padding: 0 !important;
	}
	.homepage #header-top .Index-page-content .video-block iframe {
		pointer-events: none;
	}
}


/*
#header-top .Index-page-content .sqs-video-icon {
	background-image: url(/assets/play-large.png) !important;
	background-size: 100% !important;
	opacity: .8;
	border-radius: 100%;
    overflow: hidden;
	transition: .3s ease;
	width:120px;
	height: 120px;
	margin-left: -60px;
	margin-top: -50px
}*/

#header-top .Index-page-content .sqs-video-icon:hover {
	opacity: 1;
}

.homepage .Index-page-scroll-indicator {
	display: none !important;
}

@media only screen and (max-width:768px) {
	.Index-page-scroll-indicator {
		display: none !important;
	}
	.homepage #intro .spacer-block {
		display: none !important;
	}
	.homepage #header-top .video-block {
		padding: 0 !important;
	}
	#collection-5adf8d79758d466d57e40cde .spacer-block {
		display: none;
	}
	#collection-5ae1061d1ae6cf5637626d8d .Parallax-host .Parallax-item:first-child img,
	#collection-5ae22fa3562fa7a09abaa8af .Parallax-host .Parallax-item:first-child img,
	#collection-5ae222b3575d1fefa564dba4 .Parallax-host .Parallax-item:first-child img {
		top: -30% !important;
	}
	.homepage #header-top .Index-page-content .video-block iframe {
		z-index: 21;
	}
	.homepage #header-top .Index-page-content .sqs-video-overlay {
		z-index: 20;
	}
}

.homepage #flip-it-blue-section .image-block {
	width: 75%;
	margin: 0 auto;
}

.Index-page-scroll-indicator {
	z-index: 33;
}

.homepage #header-top .Index-page-content .html-block {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-110%);
	z-index: 30;
	transition: opacity .3s ease;
}

.homepage #header-top .Index-page-content .sqs-video-overlay {
	z-index: 29;
}

.homepage #header-top .Index-page-content .html-block h1 {
	color: white;
}

@media only screen and (max-width:768px) {
	.homepage #header-top .Index-page-content .html-block h1 {
		font-size: 28px;
	}
}

#page-5adf8da1758d466d57e41764 .html-block,
#retail-politics-2 .html-block,
#retail-politics-3 .html-block {
	width: 100%;
	max-width: 987px;
}

#page-5adf8da1758d466d57e41764 .html-block h2,
#retail-politics-2 .html-block h2,
#retail-politics-3 .html-block h2 {
	margin-bottom: 10px;
}

.Index section:first-child .Index-page-content {
	margin-top: 0 !important;
}

@media only screen and (min-width:768px) {
	body:not(.homepage) .Index section:first-child .Index-page-content {
		padding: 0 !important;
		height: calc(100vh - 111.61px);
	}
	body:not(.homepage) .Index section:first-child .Index-page-content .sqs-layout {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		right: 0;
	}
}

.Index section:first-child .Index-page-content .html-block {
	width: 100% !important;
}

#collection-5adf8d79758d466d57e40cde section .html-block {
	width: 100%;
	max-width: 900px;
}

#contact-us .html-block h3 {
	font-size: 18px;
}

.homepage section .html-block {
	width: 100% !important;
	max-width: 1000px;
}

.homepage .Index section:nth-child(2) .image-block {
	width: 60% !important;
	margin: 0 auto !important;
}

.Footer-nav {
	margin: 0 auto;
	text-align: center;
}

.Footer-nav-group {
	padding-bottom: 0 !important;
	margin-bottom: -10px;
	padding-top: 25px !important;
	width: 180px;
}

.Footer-nav-group a {
	font-family: "proxima-nova" !important;
}

.Footer-nav-item {
	padding-top: 8px;
}

#footerBlocksBottom .html-block {
	padding-top: 0 !important;
	padding-bottom: 14px !important;
}

#footerBlocksBottom .html-block p {
	font-size: 10px;
	font-family: "proxima-nova";
}

#issue-specific .sqs-layout .sqs-row:first-child .html-block {
	width: 100%;
}

#collection-5ae22fa3562fa7a09abaa8af .summary-excerpt p {
	font-size: 17px;
}

#collection-5ae22fa3562fa7a09abaa8af .summary-excerpt p strong {
	font-family: "proxima-nova";
	font-size: 18px;
}

#collection-5ae22fa3562fa7a09abaa8af .summary-thumbnail-outer-container {
	width: 70%;
	margin: 0 auto;
}

#collection-5ae22fa3562fa7a09abaa8af .summary-thumbnail-container {
	margin: 0;
}

.sqs-slide-wrapper[data-slide-type="lock-screen"] [data-compound-type="logo"][data-slice-type="image"] img {
	max-height: none !important;
}

#retail-experience-1 .html-block:nth-child(2) {
	width: 80%;
}

.homepage .Index-page--has-image .Index-page-content {
	padding: 90px 50px;
}

.Footer-middle {
	padding-top: 19px;
}

@media only screen and (max-width: 768px) {
	main section:not(:first-child) .Index-page-content {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
	#collection-5ae1061d1ae6cf5637626d8d .sqs-col-6 .image-block {
		padding: 0 !important;
		width: 60%;
		margin: 0 auto;
	}
	.homepage .Index-page-content .sqs-col-4 {
		float: none;
		margin: 0 auto
	}
}

#collection-5ae22fa3562fa7a09abaa8af .sqs-gallery-container img {
	padding-bottom: 25px;
}

#collection-5ae22fa3562fa7a09abaa8af .spacer-block:first-child {
	display: none !important;
}

</style>
