@font-face {
	font-family: futura;
	src: url(../fonts/Futura.ttf);
}
@font-face {
	font-family: futuraBold;
	src: url(../fonts/FuturaBold.ttf);
}
@font-face {
	font-family: futuraLight;
	src: url(../fonts/FuturaLight.ttf);
}
* {
	font-family: Futura;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 2px 0px;
}
a:hover {
	text-decoration: none;
}
#scroll-starter {
	top: -140px;
	position: relative;
	z-index: 1000;
}
body {
	padding-top: 100vh;
}
#menu {
	width: 100%;
	min-height: 60px;
	text-align: center;
	font-family: lato;
	font-weight: 400;
	position: fixed;
	top: 0;
	color: lightgrey;
	z-index: 200;
	transition: .7s ease;
}
.mitem {
	position: relative;
	line-height: 60px;
	padding: 0px 10px;
	color: inherit;
}
.mitem:hover {
	transition: .5s ease;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	opacity: .8;
}
#video-full {
	min-width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
.video-tagline {
	position: absolute;
	z-index: -99;
	min-width: 100vw;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	background: black;
	overflow: hidden;
}
#tagline {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100vh;
	opacity: .8;
	background-image: url(../images/taglinetext.png);
	background-position: center;
	background-size: cover;
	z-index: 0;
	text-align: center;
}
.fa-angle-down {
	overflow: hidden;
	color: white !important;
	background: none !important;
	font-size: 40px !important;
	position: absolute;
	bottom: 30px;
}
.fa-angle-down:hover {
	color: grey !important;
}
#upcoming {
	width: 100%;
	min-height: calc(100vh - 60px);
	background: black;
	padding-top: 20px;
	text-align: center;
	color: white;
	position: relative;
}
.event {
	padding: 30px 0px;
	text-align: center;
}
.event-date,
.event-info,
.event-btn {
	display: inline-block;
	margin-left: 50px;
}
.event-date,
.event-info {
	text-align: left;
}
.event-btn {
	width: 200px;
	height: 40px;
	border: 1px solid grey;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
}
.buybtn,
.buybtn:hover {
	color: white;
	text-decoration: none !important;
	font-size: 12px;
}
.event-btn:hover {
	color: white;
	cursor: pointer;
	background: rgba(50, 50, 50, .5);
	transition: 1s ease;
}
h30,
h31 {
	display: block;
	color: white;
	font-weight: 400;
}
h30 {
	font-size: 16px;
	padding-bottom: 5px;
}
h31 {
	font-size: 12px;
	color: grey;
}
#about {
	padding-top: 20px;
	background: url(../images/aboutback.png);
	background-position: center;
	background-size: auto 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
	color: transparent;
	border: none;
}
.video-about {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -10000;
	width: 100%;
	overflow: hidden;
}
#video-full-about {
	min-height: 100%;
	min-width: 100%;
}
h1 {
	overflow: hidden;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: -10px;
	margin-top: 0px;
}
h3 {
	overflow: hidden;
	padding-bottom: 60px;
	font-family: Nunito;
	font-weight: 400;
	font-size: 14px;
}
#contact {
	position: relative;
	text-align: center;
	background: rgba(255,255,255,.80);
	color: black;
	min-height: calc(100vh - 60px);
}
#contact-wrapper {
	padding-top: 50px;
	width: 80%;
	margin: auto;
}
#line-spacers {
	overflow: visible;
}
.hr1 ,
.hr2 {
	border:1px solid grey;
	width:50px;
	margin-top:-13px;
}
.hr2 {
	position: relative;
	left:10px;
}
h4 {
	text-transform: uppercase;
	font-family: FuturaBold;
	letter-spacing: 4px;
}
#btn-GIT,
#btn-BAS {
	background: black;
	color: white;
	font-size: 12px;
	font-family: FuturaLight;
	display: inline-block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	border-radius: 20px;
}
#btn-GIT {
	margin-right: 30px;
}
#btn-GIT:hover,
#btn-BAS:hover {
	background: rgb(100, 100, 100);
	cursor: pointer;
}
.fa {
	margin: 0px 10px;
	background: white;
	color: black;
	font-size: 20px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.fa:hover {
	transition: 1s ease;
	cursor: pointer;
	background: grey;
}
.arrow-up {
	margin: auto;
	width: 0;
	height: 0;
	margin-top: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}
#contact-message,
#contact-sponsor {
	display: none;
	padding-top: 30px;
	padding-bottom: 30px;
}
.msg-input,
.msg-send,
.email-send,
.email-input {
	font-family: DIN;
	width: 400px;
	max-width: 90%;
	margin: 0px auto;
	margin-bottom: 3px;
	display: block;
	background-color: white;
	color: black;
	border: none;
}
.msg-input:focus,
.email-input:focus {
	outline: none;
}
textarea {
	height: 100px;
}
::-webkit-input-placeholder {
	color: grey;
	padding-left: 2px;
}
::-moz-placeholder {
	color: grey;
	padding-left: 2px;
}
:-ms-input-placeholder {
	color: grey;
	padding-left: 2px;
}
:-moz-placeholder {
	color: grey;
	padding-left: 2px;
}
#footer {
	position: relative;
	background-color: rgb(20, 20, 20);
	color: white;
	height: 150px;
}
#logo {
	max-width: 100%;
	max-height: 50%;
	position: absolute;
	margin: auto;
	left: 0;
	top: 10px;
}
.logo {
	height: 100%;
}
.footer-email {
	padding: 10px 5px;
	height: 100%;
}
.footer-legal {
	position: absolute;
	display: inline;
	bottom: 5px;
	left: 10px;
}
.footer-nav {
	text-align: center;
	height: 100%;
	padding: 10px 5px;
	position: relative;
}
h5,
h6,
h7 {
	color: grey;
	font-size: 10px;
	margin: 3px 0px;
}
h7 {
	border-right: 1px solid white;
	border-left: 1px solid white;
	padding-right: 5px;
	padding-left: 5px;
}
h6:hover,
h7:hover {
	color: white;
}
b {
	color: white;
	margin-bottom: 10px;
}
#subform {
	height: 24%;
	overflow: hidden;
}
.email-input {
	font-size: 12px;
	display: inline;
	height: 100%;
	width: 60%;
	border: none;
	background: rgba(255, 255, 255, .1);
	border-radius: 2px;
	vertical-align: center;
}
.email-send {
	background: white;
	font-size: 12px;
	font-family: FuturaLight;
	height: 35px;
	border-radius: 20px;
	display: inline;
	height: calc(100% - 2px);
	width: 30%;
	line-height: calc(100% - 2px);
}
.email-send:hover {
	background-color: rgb(200, 200, 200);
}
.footer-social {
	top: 10px;
	max-height: 100%;
	overflow: hidden;
	width: 85px;
}
.small {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	margin: 5px 0;
	line-height: 23px;
	width: 23px;
	height: 23px;
}
.left-align {
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
	vertical-align: center;
}
h17 {
	font-size: 10px;
}
.aniUp {
	opacity: 0;
	position: relative;
	top: 30px;
}
.poster {
	display: none;
	background-size: cover !important;
	background-color: black;
	transition: .5s ease;
}
.poster:hover {
	cursor: pointer;
}
#work {
	color: white;
	text-align: center;
	background: black;
	position: relative;
	height: calc(100vh - 60px);
}
#posters {
	height: 90%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.poster-center {
	display: initial;
	width: calc(90vh * .54);
	height: 80%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 2px 2px 2px rgb(100, 100, 100);
	z-index: 3;
}
.poster-left {
	display: initial;
	width: calc(90vh * .36);
	height: 53.33%;
	position: absolute;
	margin: auto;
	top: calc((80% - 53.33%) / 2);
	right: calc(90vh * .45);
	left: 0px;
	box-shadow: 2px 2px 5px grey;
	z-index: 2;
}
.poster-right {
	display: initial;
	width: calc(90vh * .36);
	height: 53.33%;
	position: absolute;
	margin: auto;
	top: calc((80% - 53.33%) / 2);
	right: 0px;
	left: calc(90vh * .45);
	box-shadow: 2px 2px 5px grey;
	z-index: 2;
}
.scroll-left,
.scroll-right {
	display: inline-block;
	position: absolute;
	bottom: 6%;
}
h2 {
	bottom: 3%;
	left: 0;
	right: 0;
	position: absolute;
}
.scroll-left {
	left: 20px;
}
.scroll-right {
	right: 20px;
}
.fa-angle-left {
	padding-right: 3px;
}
.fa-angle-right {
	padding-left: 3px;
}
.fa-angle-right,
.fa-angle-left {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/*
==============================================
pulse
==============================================
*/

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.8);
	}
	50% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.8);
	}
}
