@font-face {
  font-family: yoga;
  src: url('https://narkeeta.github.io/font/BeginningYoga.ttf');
}
@font-face {
  font-family: marker;
  src: url('https://narkeeta.github.io/font/PermanentMarker.ttf');
}

body {
  color:white;
  background-color: white;
  background: url("https://narkeeta.github.io/images/BackOne.jpg") no-repeat fixed top right;
  background-size: contain;
}
div {
}

#home {
  font-family:'Montserrat', sans-serif;
  line-height:50px;
  color:black;
  text-decoration:none;
}

#home:hover {
   cursor:pointer;
   font-family:marker;
   text-decoration: none;
}
a, a:hover {
  text-decoration:none;
  color:black;
}

#LM {
  margin-left:22px;
  width:100%;
  height:100vh;

}


#LMTitle {
  color:rgb(129,183,109);
  width:60vw;
  font-family:yoga;
  font-size:40px;
}

#about {
  width:60vw;
  font-family:Montserrat;
  color:black;
  margin-top:30px;
}

p {
  font-size:14px;
}

@media screen and (max-width: 768px) {
  #LMTitle, #about {
    width:90%;
  }
}
