@font-face {
  font-family: yoga;
  src: url('https://narkeeta.github.io/font/BeginningYoga.ttf');
}

body {
  background-color:white;
  color:white;
  font-family: 'yoga';
}
div {
  overflow:hidden;
}

#prev {
  float: left;
}
#next {
  float: right;
}
.navbar {
  color:black;
  background-color: rgba(255,255,255,.65);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
}
nav ul {
  text-align: center;
  margin: 0;
}
nav ul li {
  font-family:'Montserrat', sans-serif;
  display: inline;
  line-height:50px;
}
nav ul li:hover {
  cursor:pointer;
   font-family:yoga;
}

#LM {
  margin-top:50px;
  margin-left:22px;
  width:100%;
  height:100vh;
  background-color: white;
  background: url("https://narkeeta.github.io/images/BackOne.jpg") no-repeat fixed top right;
  background-size: contain;
}


#LMTitle {
  width:60%;
  font-family:yoga;
  font-size:40px;
}

#about {
  width:60%;
  font-family:Montserrat;
  color:black;
  margin-top:30px;
}

p {
  font-size:14px;
}

@media screen and (max-width: 768px) {
  #LMTitle, #about {
    width:100%;
  }
}
